.navbar-brand img {width: 150px; height: auto;}

.btn-round {
    border-radius: 20px;
}

/* input box  */
.inputBox {
    position: relative;
    margin-top: 15px;
  }
  
.inputBox input {padding: 10px 20px;border:2px solid #ccc;background: transparent;border-radius: 4px;}
.inputBox label { position: absolute; top: 0; left: 10px; padding: 0.625rem 0; font-size: 1rem; color: grey; pointer-events: none; transition: 0.5s; }
.inputBox input:focus ~ label, .inputBox input:valid ~ label { top: -1.125rem;left: 10px;color: #1a73e8;font-size: 0.75rem;background-color: white;height: 10px;padding-left: 5px;padding-right: 5px;}
.inputBox input:focus {outline: none; border: 2px solid #1a73e8; box-shadow: none;}


